doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    title WebRTC
  body
  header 
    h1 Welcome webRTC
  main
    div#join
      form
        input(type="text", required, placeholder="Enter room")
        button Enter room
    div#stream
        video#local-video(autoplay, playsinline, width="400", height="400")
        div
          button#mute Mute
          button#camera(style="margin-left: 10px") Turn Camera Off
          select#cameras
  script(src="/socket.io/socket.io.js")
  script(src="/public/js/app.js")